main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    margin: 3rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 1rem;
}
.display {
    padding: 1rem;
    margin-bottom: 0.25rem;
    text-align: right;
    border: 1px solid black;
    border-radius: 0.5rem;
}

td > button {
    padding: 1rem 2rem;
}