.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-weight: 900;
    font-size: 2rem;
    margin: 2rem;
}

.box {
    width: fit-content;
    border: 1px solid rgb(228, 233, 238);
    display: flex;
    padding: 0 2rem 2rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.footer {
    width: 20rem;
    margin: 2rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem;
    text-align: center;
}

.input_text {
    border-radius:  2px;
    width: 20rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid rgb(211, 205, 205);
}

.btn {
    width: 20rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgb(211, 205, 205);
    background-color: rgb(10, 142, 230);
    color: white;
    font-weight: 900;
    cursor: pointer;
}

.or {
    color: rgb(43, 41, 41);
    display: flex;
    align-items: center;
    width: 100%;
}

.line {
    border: 1px solid rgb(234, 239, 240);
    width: 100%;
    margin: 5px;
}

.btn:hover {
    color: blue;
    padding:0.5rem ;
}

.fb {
    color: blue;
    margin: 1rem;
}

